.request-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    margin: -10px -10px 10px -10px;
}

.request-item {
    position: relative;
    padding: 10px 10px 10px 60px;
    margin-bottom: 0px;
    border-radius: 3px;
}

.request-item:hover {
    background-color: #aabecc;
}

.request-item .heading {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.request-item .request-label {
    position: absolute;
    top: 10px;
    left: 10px;
}

.request-item .description {
    font-size: 12px;
    margin-bottom: 0;
    min-height: 12px;
}

.request-item .btn-group {
    position: absolute;
    top: 9px;
    right: 10px;
}

@media (max-width: 991px) {
    .request-item .btn-group {
        display: none;
    }
}

.request-label {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity .item.message.content {

    .module-heading {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-radius: 0 0 3px 3px;
    }

    .module-content {
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 3px 3px 0 0;
    }

    div.module::before {
        position: absolute;
        content: '';
        left: 0px;
        top: -9px;
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 10px solid #ddd;
    }

     .user-image {
        left: 0;
     }
}

ul.activity ul.activity {

    margin-left: 2em;
    background: none;
    list-style-type: disc;

    li.item {
        margin: 0px;

        br {display:none}

        span.date::before {
            content: "|"
        }

        .icon {display:none}

        .user-image {display:none}

        p {margin:0}
    }

    li.item::before, li.item::after {
        content: none;
    }
}