{% set dataset_type = activity['activities'][0]['data']['package']['type'] or 'dataset' %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-sitemap"></i>
  <p>
    {{ _('{actor} updated the dataset {dataset} {n} times').format(
      actor=ah.actor(activity),
      dataset=ah.dataset(activity),
      n=activity['activities'] | length
    )|safe }}
    <br />
    <span class="date" title="{{ h.render_datetime(activity['activities'][0]['timestamp'], with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity['activities'][0]['timestamp']) }}
      {% if can_show_activity_detail %}
        &nbsp;|&nbsp;
        <a href="{{ h.url_for(dataset_type ~ '.changes_multiple', old_id=activity['activities'][0]['id'], new_id=activity['activities'][-1]['id']) }}">
          {{ _('Changes') }}
        </a>
      {% endif %}
    </span>
  </p>
</li>
