{% set dataset_type = activities[-1]['data']['package']['type'] or 'dataset' %}

<li class="item changed-package">
  <i class="fa icon fa-sitemap"></i>
  <p>
    {{ _('updated the dataset {dataset} {n} times').format(
      dataset=ah.dataset(activities[-1]),
      n=activities | length
    )|safe }}
    <br />
    <span class="date" title="{{ h.render_datetime(activities[0]['timestamp'], with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activities[0]['timestamp']) }}
      {% if can_show_activity_detail %}
        &nbsp;|&nbsp;
        <a href="{{ h.url_for(dataset_type ~ '.changes_multiple', old_id=activities[0]['id'], new_id=activities[-1]['id']) }}">
          {{ _('Changes') }}
        </a>
      {% endif %}
    </span>
  </p>
  {% snippet 'snippets/activity_stream.html', activity_stream=activities, actors=actors, id=id, object_type=object_type %}
</li>
